<a href="https://colab.research.google.com/github/Satyasai000111/Saiteja-FMML-LABS/blob/main/DATA_SCIENCE_%5BDEVTOWN%5D_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DAY 1 - Shape AI

In [1]:
print("Hello World")

Hello World

In [2]:
print(2409)

2409

In [3]:
#Sting -> Alphabets-(A-Z)
#Integer -> Numbers -(0-9)
#Float
# Boolean

In [4]:
print(Hello World)
# Syntax error

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-4-cb06288998c0>, line 1)

In [ ]:
#Variable is a container
# a is the variable
a=10
print(a)

# Arthimatics

In [ ]:
"Hello World"
"Today is Monday"
"Loki is cooler than Thor"

In [ ]:
a="Hello World"
b="Today is Monday"
c="Loki is cooler than Thor"

In [5]:
print(7+8)
#Concatenation

15

In [6]:
print("7"+"8")

78

In [7]:
print(2**2)

4

In [8]:
print(225/5)

45.0

In [9]:
type(45.0)

float

In [10]:
print(225//5)

45

In [11]:
a=1200
b=2000
c=800
d=1500
e=1700
ave=(a+b+c+d+e)/5
print(ave)

1440.0

# Assignment

In [12]:
# It is used when we want to assign a value

In [13]:
a=12
b=14

In [14]:
a==b
a

12

In [15]:
126>126

False

## Boolean

In [16]:
#True or False

In [17]:
asd= True
pyt=False

In [18]:
asd ==pyt

False

In [19]:
asd is pyt

False

In [20]:
asd is not pyt

True

# Day 2

In [21]:
#Area of the triangle
'''(s*(s-a)*(s-b)*(s-c))**0.5
s= (a+b+c)/2
    or
Area= (1/2)*b*h'''
#Perimeter of the triangle
 ''' p= a+b+c'''
 # Area for eqalateral triangle
 '''((3**0.5)/4)*(a**2)'''

IndentationError: unexpected indent (<ipython-input-21-4c4f1be3f496>, line 7)

# String Methods



1.capitlize()

In [ ]:
string1="today is Saturday"
print(string1.capitalize())
print(string1)

In [ ]:
string1=string1.capitalize()
string1



2.len()

In [ ]:
print(len(string1))



3.center()

In [ ]:
# Variable.center(len,char)
asdi= "Apple"
asdi.center(20,"*")



4.endswith()

In [ ]:
var="Prasad"
print(var.endswith("sad"))



5.count()

In [ ]:
var="Hello my name is Prasad"
print(var.count("a"))



6.upper()

In [ ]:
var1 ="Welcome to the world"
print(var1.upper())



7.replace()

In [ ]:
str="DEAR PROFESSOR"
print( str.replace("PROFESSOR","professor"))

In [ ]:
str = "Deear Professor"
print(str.replace("D","e"))

In [ ]:
a="DEAR PROFESSOR"
b=a[0:4]
c=a[5:]
e=c.lower()
print(b+" "+e)

**INPUT**

In [ ]:
var =input("Enter a string:")
var1=int(input("Enter a number:"))
var2 = float(input("Enter a number"))
print(var)
print(var1)
print(var2)

# DAY 3

# Python Data Sturctues



1. List - []
2. Tuple - ()
3. Set - {}
4. Dict - {}

# List

1. Changeable  
2. Heterogenous data
3. allow a duplicate values

In [ ]:
app =["Potataoes","Apple","Mango","Banana"]
print(app)

In [ ]:
print(type(app))
print(app[2])
print(app[-2])
print(app[1:3])

In [ ]:
str="Hello World"
print(str[0:10:1])

In [ ]:
app=["Potataoes","Apple","Mango","Banana"]
app[2]="dhaniya"
app

In [ ]:
lapp =["Potataoes","Apple","Mango","Banana"]
lapp.append("Milk")
lapp

In [ ]:
lapp.insert(2,"Milk")
lapp

In [ ]:
# TO perfom we have 3 functions
app =["Potataoes","Apple","Mango","Banana","Milk"]
app.remove("Milk")
app

In [ ]:
lapp =["Potataoes","Apple","Mango","Banana"]
lapp.pop(0)
lapp

In [ ]:
lapp1 =["Potataoes","Apple","Mango","Banana"]
del lapp1

In [ ]:
grades=[34,57,98,24,56,21,67]
grades.sort()
print(grades)
grades.sort(reverse=True)

print(grades)
max(grades)

In [ ]:

a=int(input())
b=int(input())
c=int(input())
d=int(input())
e=int(input())
l=[]
l.append(a)
l.append(b)
l.append(c)
l.append(d)
l.append(e)
print(l)

In [ ]:
# Read input, map to integers, and convert to list
app = list(map(int, input().split()))

# Initialize an empty list
list1 = []

# Append the first element of 'app' to 'list1'
list1.append(app)

# Print the resulting list
print(list1)

# DAY 5

#Tuple
1. Data Structure
2. Immutable
3. ()
4. It allows duplictaes

In [ ]:
tipl=("appale","mangoes","cherry")
print(tipl)

In [ ]:
tipl=[(1,2,3),("appale","mangoes","cherry")]
print(tipl)

In [ ]:
tipl[1]

In [ ]:
tipl=("appale","mangoes","cherry","banana")
print(tipl)

In [ ]:
tupl1=("cherry",)
tup=tipl+tupl1
print(tup)

In [ ]:
tu=(1,2,3,4,5,1,23,4,5,6,7)
print(tu.count(1))

In [ ]:
tu.index(1)

In [ ]:
tup=("Prasad")
tup1=("Prasad",)
print(type(tup))
print(type(tup1))

# Dictionary
1. {}
2. key value pair
3. immutable
4. ordered
5. donot allow duplicates

In [ ]:
dic=({"table":"A wooden planck of a sheet"})
dic

In [ ]:
dict={1:2,3:0,}

In [ ]:
dic={"book":"knowledge","laptop":"device"}
a=dic["book"]
a

In [ ]:
dic.get("book")

In [ ]:
dic.update(book="MATH")
dic

In [ ]:
dic.pop("book")
dic

In [ ]:
dic={"book":"knowledge","laptop":"device"}
dic["book"]="lllll"
dic

In [ ]:
dic={"book":"knowledge","laptop":"device"}
dic.clear()
dic

In [ ]:
#popitem -> It will delete/remove last element
dic={"book":"knowledge","laptop":"device"}
dic.popitem()
dic

In [ ]:
dic={"book":"knowledge","laptop":"device"}
dic.keys()

In [ ]:
dic={"python":{"knowledge":2,"java":"lan"}}
dic["python"]["java"]

In [ ]:
dic={"python":{"knowledge":2,"java":"lan"}}
dic.get("python").get("java")

# Set

1. python Data stuctures
2. {}
3. Unordered

In [ ]:
seti ={11,3,7,1,8,1}
seti

In [ ]:
seti={1,2,3,11,2,4,5,3,1,2,32,1}
seti

In [ ]:
seti ={"apple","mangoes","cherries"}
seti

In [ ]:
seti ={"apple","mangoes","Cherries","cherries"}
seti

In [ ]:
#Acessing the element in set
listi=list(seti)

In [ ]:
listi

In [ ]:
listi[0]

In [ ]:
listi[0]="Banana"
listi

In [ ]:
seti=set(listi)
seti

In [ ]:
"Banana" in seti

In [ ]:
#CRUD
# C -> CREATE {},SET
# R ->  PRINT
# U -> ADDING ANY ELEMENT , UPDATE
# D -> POP REMOVE

In [ ]:
###Adding up to sets
set_1={1,2,3,4}
set_2={3,4,5,6}
set_1.update(set_2)
set_1

In [ ]:
set_1.add(7)
set_1

In [ ]:
set_1.remove(4)

set_1

In [ ]:
set_1.discard("kiwi")
set_1.discard(1)
set_1

In [ ]:
set_1.clear()
set_1

In [ ]:
set_a ={"apple","banana","mangoes"}
set_b ={"google","microsoft","apple"}
set_c =set_a.union(set_b)
set_c

In [ ]:
set_a ={"apple","banana","mangoes"}
set_b ={"google","microsoft","apple"}
set_c =set_a.intersection(set_b)
set_c

In [ ]:
set_a ={"apple","banana","mangoes"}
set_b ={"google","microsoft","apple"}
set_c =set_a.difference(set_b)
set_c

# Conditional operator

In [ ]:
# Italy Vs England
winner="germany"
if winner == "england":
  print("500 exrtra pocket money")
else:
  print("default")

In [ ]:
price=int(input("Enter a price : "))
if price<100:
  print("Buy some snackes")
elif price ==100:
   print("Purchase the PR cards")
elif price>100:
  print("Buy some chips")
else:
    print("default")

In [ ]:
srt="Monday"

In [ ]:
srt==True

In [ ]:
sr="Monday"
if sr:
  print("Hello Wrold")
else:
  print("Bye World")

In [ ]:
try:
  if sr:
    print("Hello Wrold")
except:
  print("Bye World")

In [ ]:
try:
  if srioooo:
    print("Hello Wrold")
except:
  print("Bye World")

In [ ]:
list1=["Mr Bean", "Tom & Jerry","Bob the Bulider","Richie rich"]

In [ ]:
if "Doreamon" in list1:
  print("Yes")
else:
  list1.append("Doeramon")
  print(list1)

In [ ]:
inp = input("Enter name: ")
if inp.isnumeric():
  print("Sorry,try again")
elif inp.isalpha():
  print("You rae good to go")
else:
  print("Drof off from the college")

# Day 6

# Loops

In [ ]:
for i in range(0,10):
  print(i)

In [ ]:
for i in range(41,51):
  if i == 48:
    print("Yes we've done")
  else:
    print(i)

In [ ]:
count=0
while count<10:
  count+=1
  print(count)

In [ ]:
count=0
while count<10:
  print(count)
  count+=1

In [ ]:
count =0
while count<10:
  print(count)

In [ ]:
while True:
  print("Hello")

#Infinite loop

In [ ]:
a="Iam good"
for i in range(11):
  print(a)

In [ ]:
a= int(input("Enter a number: "))
lis=[]
for i in range(a):
  lis.append(i)
print(lis)

In [ ]:
arr=[]
for i in range(5):
  arr.append(int(input()))
print(arr)

# List Comprehension

In [ ]:
brr = [statement for loop]
brr = [statement for loop if condition]
brr = [statement if condition else condition for loop]

In [ ]:
we=[i for i in range(10 )]
we

In [ ]:
we

In [ ]:
brr =[ i for i in range(0,10)  if i%2==0 ]
brr

In [ ]:
fruits =["mangoes","apple","kiwi"]
newlist=[i for i in fruits]
newlist

In [ ]:
fruite=["mangoes","apple","kiwi"]
newlist=[i.upper() for i in fruite]
newlist

In [ ]:
fruites=["mangoes","apple","kiwi"]
newlist=[i for i in fruites if i!="mangoes"]
newlist

# Nested

In [ ]:
var=5000
if var>1000:
  if var<10000:
    print("Yes it is nested")
  print("NO it is not nested")
else:
  print("No")

In [ ]:
var =5000
if var>1000:
  if var<1000:
    print("Yes it is nested")
  print("NO it is not nested")
else:
  print("No")

In [ ]:
var =5000
if var>1000:
  if var!=5000:
    print("Yes it is nested")
  print("NO it is not nested")
else:
  print("No")

In [ ]:
#Loops

for i in range(5):
  for j in range(5):
    print(j)

In [ ]:
for i in range(5):
  for j in range(5):
    print(i,j)

In [ ]:
friuts=["apple","mangoes","kiwi","papaya"]
qunatity=[3,4,5,6]
final={}
for i in friuts:
  for j in qunatity:
    final[i]=j
print(final)

In [ ]:
#Zip()
fine=zip(friuts,qunatity)
fine

In [ ]:
for i,j in zip(friuts,qunatity):
  final[i]=j
print(final)

Break -> When to terminate the loop

Continue ->

Pass->

In [ ]:
for i in range(10):
  if i==5:
    break
  print(i)

In [ ]:
for i in range(10):
  if i==5:
    continue
  print(i)

In [ ]:
for i in range(10):
  if i==5:
    pass
  print(i)

# The Activity Day

In [ ]:
ans ="I will pay attemtion to the exam"
for i in range(0,11):
  print(ans)

  # Don't use loop
print("I will pay attemtion to the exam\n"*11)

In [ ]:
#Factorial
n=5
fact=1
for i in range(n,1,-1):
  fact=fact*i
print(fact)

In [ ]:
var = "Prasad"
var1=var.swapcase()
print(var1)

# print(input().swapcase())

In [ ]:
var=input().lower()
var1=reversed(var)
if list(var1)==list(var):
  print("Yes")
else:
  print("No")

In [ ]:
var="mam"
var1 = var[::-1]
if var1==var:
  print("Yes")
else:
  print("No")

In [ ]:
a="prasda"
res=" ".join(reversed(a))
print(res)

# Rock paper sissor game

In [ ]:
# Rock paper sissor game
Series =int(input("Enter the number of series : "))
player_1=0
player_2=0
for i in range(Series):
  print("Round",i+1)
  player1=input("Player 1 : ")
  player2=input("Player 2 : ")
  if player1==player2:
    print("Draw")
  elif (player1=="R" and player2 =="S") or (player1=="P" and player2=="R") or (player1=="S" and player2=="P"):
    print("Player 1 wins")
    player_1+=1
  else:
    player_2+=1
    print("Player 2 wins")
if player_1>player_2:
  print("Player 1 is winner")
elif player_2>player_1:
  print("Player 2 is winner")
else:
  print("Draw")

# Day 8

# Function

In [ ]:
a= int(input("Enter a number : "))
if a ==10:
  print("Yes")
else:
  print("No")

In [ ]:
# 1000 lines of code
a= int(input("Enter a number : "))
if a ==10:
  print("Yes")
else:
  print("No")

In [ ]:
# Function
def hello() :
  print("Hello")
hello()

In [ ]:
def hello() :
  if a ==10:
    print("Yes")
  else:
    print("No")
a= int(input("Enter a number : "))
hello()

In [ ]:
def addtion():
  a=10
  b=20
  print(a+b)

In [ ]:
var=addtion()

In [ ]:
var

In [ ]:
def addtion():
  a=10
  b=20
  return a+b
var=addtion()
#print(var)

In [ ]:
print(var)

In [ ]:
Three kinds of functions
1.parameters -> len(),range(),max()
2.Doesn't takes any parameters -> upper(),lower()
3.Default parameters-> pop()

In [ ]:
#1.parameters

def addition(a,b):
  return a+b
#addition(10,20)
#print(addition(10,20))
var = addition(10,20)
print(var)

In [ ]:
def addition(a,b):
  b=10
  return a+b

print(addition(10,20))

In [ ]:
def addition(a,b):
  print(a+b)
  b=10
  return a+b

print(addition(10,20))

In [ ]:
#3.Default parameters
def addition(a,b=10):

  return a+b

print(addition(10))

In [ ]:
def popitems(a=-1):
  pass

In [ ]:
popitems()

In [ ]:
def fun(age):
  if age > 60:
    print("OLD")
  elif age >30 and age <=60:
    print("middle aged")
  elif age >19 and age<=30:
    print("Young")
  elif age >13 and age<=19:
    print("Teen")
  else:
    print("Kid")
age = int(input("Enter your age : "))
fun(age)

In [ ]:
def fun(age):
  if age > 60:
    return "OLD"
  elif age >30 and age <=60:
    return "middle aged"
  elif age >19 and age<=30:
    return "Young"
  elif age >13 and age<=19:
    return "Teen"
  else:
    return "Kid"
NUM = int(input("Enter your age : "))
fun(NUM)

In [ ]:
def calculate(operation, a, b):
    if operation == 'add':
        return a + b
    elif operation == 'sub':
        return a - b
    elif operation == 'mul':
        return a * b
    else:
        return "Invalid operation"
print(calculate('add', 2, 3))

# Adavnced concepts of FUNCTION

In [ ]:
def advanced(a,b,c,d):
  return a+b-c*d
advanced(10,20,30,40)

#Precedence of the Opertaors
#BODMAS
# B -> Brackets
# O -> Operators
# D -> Division
# M -> Multiplication
# A -> Addition
# S -> Subtraction

In [ ]:
#*args -> Tuple & **kwargs -> Dictionary
def advanced(*args):
  return args
advanced(10,20,30,40)

In [ ]:
def advanced(*args):

  lis =list(args)
  return sum(args)
print(advanced(10,20,30,40))

In [ ]:
def advanced(**kwargs):
  return kwargs
advanced(a=10,b=20,c=30,d=40)

In [ ]:
def advanced(**kwargs):
  kwargs['a']="money"
  return kwargs
advanced(a=10,b=20,c=30,d=40)

# Day 9

# More in functions

# Lamnda Function -> function without name (anonymus function)

In [ ]:
# SYNTAX => lambda arguments (multiple):logic(one)

In [ ]:
def add(a,b):
  return a+b
add(10,20)

In [ ]:
(lambda a,b:a+b) (2,3)

In [ ]:
lam = lambda a,b:a+b
lam(10,20)

# Filter method

In [ ]:
List =[1,2,3,4,5,2,3,1,3,5,6,7,8,9,3]

In [ ]:
def even(list):
  even_list=[]
  for i in list:
    if i %2==0:
      even_list.append(i)
    else:
      pass
  return even_list
even(list)

In [ ]:
lambda x:x%2==0

In [ ]:
filter(function,iterable)

In [ ]:
# Rename the variable 'list' to 'my_list'
my_list = [1, 2, 3, 4, 5, 2, 3, 1, 3, 5, 6, 7, 8, 9, 3]

# Call the built-in function 'list' to convert the filter object to a list
even_numbers = set(filter(lambda x: x % 2 == 0, my_list))
# we can change this to set or tuple or list
print(even_numbers)

# Map function

In [ ]:
map(function,iterable)

In [ ]:
my_list

In [ ]:
lambda x:x**x

In [ ]:
set(map(lambda x: x +x, my_list))

# Modules -> math ,random , datetime , time , os , pickle ,

In [ ]:
OS -> Windows , Mac , Ubuntu , Android
Kernals -> Linux , Unix

# math

In [ ]:
import math

math.ceil(3.1)

In [ ]:
math.floor(3.2)

In [ ]:
math.factorial(5)

In [ ]:
math.sqrt(16)

In [ ]:
math.isqrt(16)

In [ ]:
math.pow(2,3)

In [ ]:
import math
from math import ceil
ceil(3.4)

In [ ]:
import math
dir(math)

# Random

In [ ]:
import random

In [ ]:
Cars =["Audi","BMW","Mercedes","Ferrari","Porsche"]
random.choice(Cars)

In [ ]:
random.randint(1,10)

In [ ]:
import random
random.shuffle(Cars)
Cars

In [ ]:
import random
from random import shuffle
shuffle(Cars)
Cars

# Day 10

# OOP'S -> Object Oriented Programming
1. It is an approach that wull allow you to develop an application
2. OOP'S -> Python , Java , C++
3. Doesn't have OOP'S -> C
4. It focuses to do  prrgramming using the concepts classes and object

In [ ]:
# Concepts/Principles of OOP's

1. class
2. object
3. Method(Function)
4. Inheritance
5. Polymorphism
6. Constuctor
7. Encapsulation
8. Abstraction

# Class

1. It is a blueprint/plan/map od defining thr entire structure of the programming
2. It is a colllection  of objects , functions etc
3. Univeristy(XYZ) -> Class
4. Students -> Object
5. Department f the students -> Methods

In [ ]:
SYNTAX :

class name_of_the_class:
  pass

In [ ]:
class First():
  def fun(self,a):
    if a>75:
      print("Pass")
    else:
      print("Fail")

first=First()
first.fun(80)

# Object
1. Instance/Part/Member of class
* Instance means an example

In [ ]:
SYNTAX :

object_name = class_name()

In [ ]:
class First():
  def fun(self,a):
    if a>75:
      print("Pass")
    else:
      print("Fail")

first=First()
first.fun(80)

# Scope of variables
1. Local Variable
2. Global Variablle

In [ ]:
# Global variable
var =10# Global variable
def fun():
  print(var)
fun()

In [ ]:
var =10# Global variable
def fun():
  var =20#Local variable
  print(var)
fun()

In [ ]:
var =8 # Global variable
def fun():
  var =20 #Local variable
  var =var+10
  print(var)

def fun1():
  print(var)
fun()
fun1()

In [ ]:
var =8 # Global variable
def fun():
  var =20 #Local variable
  var =var+10
  print(var)

def fun1():
  global var
  var =var+10
  print(var)
fun()
fun1()

# Inheritance
* Three type of Inheritance
1. Single Inheritance
2. Multiple Inheritance
3. Multi level Inheritance

In [ ]:
class Father(): # Parent/Bass class
  def fun(self):
    print("A")

class Son(Father): # Child/Derived class
  def fun1(self):
    print("B")

son=Son()
son.fun()
son.fun1()

#Single Inheritance

In [ ]:
class Animal :
  def eat(self):
    print("Eating")

class Dog(Animal):
  def bark(self):
    print("Barking")

dog=Dog()
dog.eat()
dog.bark()

# Multilevel Inheritance

In [ ]:
#multilevel Inheritance
class A:
  def fun(self):
    print("A")

class B(A):
  def fun1(self):
    print("B")

class C(B):
  def fun2(self):
    print("C")

c=C()
c.fun()
c.fun1()
c.fun2()

# Multiple Inheritance

In [ ]:
#multiple Inheritence
class A:
  def fun(self):
    print("A")

class B:
  def fun1(self):
    print("B")

class C(A,B):
  def fun2(self):
    print("C")

c=C()
c.fun()
c.fun1()
c.fun2()

# Polymorphism -> Mehod Overriding , Method Overloading

* python don't have Method Overloading

# Method Overridding

In [ ]:
# Method Overriding  -> Same method but different properties
class Animal:
  def eat(self):
    print("Eating")

class Dog(Animal):
  def eat(self):
    print("Barking")

class Cat(Animal):
  def eat(self):
    print("Meow")

obj1=Dog()
obj1.eat()
obj2=Cat()
obj2.eat()

# Day 11

In [ ]:
# Method Overloading  -> python take care about the latest version
def sum(a,b):
  return a+b

def sum(a,b,c):
  return a+b+c

#sum(10,20)
sum(10,20,30)

# Constuctor

**In Python, a constructor is a special method called __init__ that is automatically invoked when an instance of a class is created. The constructor is used to initialize the attributes of the class and to perform any setup or initial configuration required by the class.**

In [ ]:
class Animal:
  def speak(self,sound,animal):
    print(f'The {animal} makes the sound {sound}')
  def speak1(self,sound,animal):
    print(f'The {animal} makes the sound {sound}')

obj=Animal()
obj.speak("Bark","Dog")
obj1=Animal()
obj1.speak1("Meow","Cat")

In [ ]:
# Constuctor
class Animal:
  def __init__(self,sound,animal):
    self.sound=sound  #, Instance Variables
    self.animal=animal
    # body of the constructor

  def speak(self):
    print(f'The {self.animal} makes the sound {self.sound}')
  def speak1(self):
    print(f'The {self.animal} makes the sound {self.sound}')

obj=Animal("Bark","Dog")
obj.speak()
obj1=Animal("Meow","Cat")

obj1.speak1()

In [22]:
class Elec:
  def __init__(self,voltage,current):
    self.voltage=voltage
    self.current=current
    print(f"Voltage is {self.voltage} and current is {self.current}")

  def __init__(self,speaker,microphone):
      self.speaker=speaker
      self.microphone=microphone
      print(f"Speaker is {self.speaker} and microphone is {self.microphone}")

elec=Elec("220V","10A")

Speaker is 220V and microphone is 10A

In [23]:
class xyz:
  a=10
  def __init__ (self):
    print(self.a)
obj=xyz()

10

In [24]:
class Student:
  a=4
  def __init__(self,num):
    self.num=num
  def faul(self):
    print(self.num*self.a)
obj = Student(10)
obj.faul()

40

In [25]:
obj.faul()

40

# Destructor

**In Python, a destructor is a special method called __del__ that is invoked when an object is about to be destroyed. This method is used to clean up resources, such as closing files or releasing network connections, before the object is removed from memory.**

In [26]:
class Animal:
  a=10
  def __init__(self):
    print("Over here, the Constructor has initialized")
  def __del__(self):
    print("Over here, the Destructor has initialized")

obj=Animal()

Over here, the Constructor has initialized

In [27]:
del obj

Over here, the Destructor has initialized

In [28]:
obj

NameError: name 'obj' is not defined

# Abstraction & Encapsulation

In [ ]:
class Animal:
  __a=10
  def __init__(self):
    print("Over here, the Constructor has initialized")

In [ ]:
obj = Animal()

In [ ]:
obj.a

In [ ]:
obj.__a

In [ ]:
obj._Animal__a

# File Handling / File I/O

In [ ]:
'''
r -> Read a file
w -> Write a file
a -> Append a file
x -> Create a file
t -> Text a file
b -> Binary a file
'''

In [ ]:
f=open("/filehandling.txt",) # by default it takes r
f

In [ ]:
f=open("/filehandling.txt",) # by default it takes r
f.read()

In [ ]:
f = open("/filehandling.txt", "r")
print(f.read(5))

In [ ]:
f = open("/filehandling.txt", "r")
print(f.readline())
print(f.readline())

In [ ]:
f=open("/filehandling.txt", "r")
print(f.readlines())

In [ ]:
f = open("/filehandling.txt", "r")
content = f.read()
for i in content:
  print(i)

In [ ]:
f.seek(20) # move the curser to the given position

In [ ]:
f.tell() # current position of the curser

In [ ]:
f = open("/filehandling.txt", "r")
print(f.readline())
f.close()

In [ ]:
f = open("/file 2.txt", "a")
f.write("Now the file has more content!")
f.close()

#open and read the file after the appending:
f = open("/file 2.txt", "r")
print(f.read())

In [ ]:
# Open the file "demofile3.txt" and overwrite the content:

f = open("/file 2.txt", "w")
f.write("Woops! I have deleted the content!")
f.close()

#open and read the file after the overwriting:
f = open("/file 2.txt", "r")
print(f.read())

In [ ]:
f = open("myfile.txt", "w")
f.write("I love programming")
f.close()

#open and read the file after the overwriting:
f = open("myfile.txt", "r")
print(f.read())

In [ ]:
import os
os.remove("myfile.txt")

In [ ]:
# Module
# Package
# Library
# Framework

In [ ]:
import math
import random
import datetime
import time
import pandas

# DATA BASE USING PYTHON

In [ ]:
import sqlite3 as sq

# Create a Database

In [ ]:
database = sq.connect("text.db")
print( "Database created")

# Perform the Queries

In [ ]:
CREATE TABLE EMPLOYEE (
    FIRST_NAME char(20) NOT NULL,
    LAST_NAME char(20),
    AGE int,
    SEX char(1),
    INCOME float
);

#database.execute

# Create a table

In [ ]:
database.execute("CREATE TABLE EMPLOYEE (FIRST_NAME char(20) NOT NULL,LAST_NAME char(20),AGE int,SEX char(1),INCOME float)")
print("Table created")

In [ ]:
database.execute("INSERT INTO EMPLOYEE(FIRST_NAME,LAST_NAME,AGE,SEX,INCOME) VALUES('John','Doe',32,'M',20000.00)")
database.execute("INSERT INTO EMPLOYEE(FIRST_NAME,LAST_NAME,AGE,SEX,INCOME) VALUES('Mary','Smith',25,'F',15000.00)")
database.execute("INSERT INTO EMPLOYEE(FIRST_NAME,LAST_NAME,AGE,SEX,INCOME) VALUES('John','Doe',32,'M',20000.00)")
print("Record inserted")

In [ ]:
database.execute("SELECT * FROM EMPLOYEE")

In [ ]:
data=database.execute("SELECT * FROM EMPLOYEE")

In [ ]:
for i in data:
  print(i)

# Numpy


1.   Numpy is the collection of Pacakages

In [ ]:
import numpy as np
import time
a=np.random.rand(1000000)
print(a)

Initializing the NumPy array

In [ ]:
!pip install numpy
import numpy as np
arr= np.array([1,2,3,4,5])
print(arr)

In [ ]:
#sytax
np.array([])

In [ ]:
# Zero Dimensional (0D)
import numpy as np
arr=np.array([4])
arr

In [ ]:
# One Dimensional (1D)
import numpy as np
arr=np.array([1,2,3,4,5,6,7,])
arr

In [ ]:
arr=np.array((1,2,3,4,5))

In [ ]:
import numpy as np

# Creating a 2D array
arr = np.array([[1, 2, 3, 4],
                [5, 6, 7, 8],
                 [9, 10, 11, 12]])

# Printing the 2D array
print(arr)

In [ ]:
import numpy as np

# Creating a 3D array
arr = np.array([[[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]],

                [[10, 11, 12],
                 [13, 14, 15],
                 [16, 17, 18]]])

# Printing the 3D array
print(arr)

# Shape

In [ ]:
import numpy as np

# Creating a 2D array
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
arr.shape

# Size

In [ ]:
import numpy as np

# Creating a 2D array
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
np.size(arr)
# arr.size

In [ ]:
import numpy as np

# Creating a 2D array
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
np.size(arr,0) # columns
np.size(arr,1) # row

# ndim

In [ ]:
import numpy as np

# Creating a 2D array
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
arr.ndim

# dtype

In [ ]:
import numpy as np

# Creating a 2D array
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
arr.dtype

In [ ]:
import numpy as np

# Creating a 2D array
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
arr.itemsize

# CRUD Operation

In [ ]:
import numpy as np

# C -> Create

In [ ]:
arr =np.array([[1,2,3,4],[5,6,7,8]])
arr

In [ ]:
arr.ndim

In [ ]:
# np.zeros()
arr=np.zeros((3,4))
arr

In [ ]:
# np.zeros()
arr=np.zeros([10,10])
arr

In [ ]:
# np.zeros()
arr=np.zeros(10)
arr

In [ ]:
# np.ones()
arr=np.ones((3,4))
arr

In [ ]:
arr=np.ones([10,10])
arr

In [ ]:
# np.empty
import numpy as np
a= np.empty((3,4))
print(a)

In [ ]:
# np.empty
arr=np.empty([10,10])
arr

In [ ]:
# np.arange
import numpy as np
arr=np.arange(10)
arr

In [ ]:
# np.full()
arr=np.full((3,4),5)
arr

In [ ]:
# np.eye() -> Indentity matrix
arr=np.eye(5)
arr

In [ ]:
arr=np.eye(15)
arr

In [ ]:
 # np.diag()
 arr=np.diag([1,2,3,4,5])
 arr

In [ ]:
# np.linspace -> start , end , size
arr=np.linspace(1,5,10)
arr

In [ ]:
# np.random
arr=np.random.rand(5)
arr

# U -> Update

In [ ]:
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([[1,2,3,4],[5,6,7,8]])
arr3 = np.array([[[1,2,3,4],[5,6,7,8],[9,10,11,12]]])

arr2

In [ ]:
arr1

In [ ]:
# Indexing
arr2[0,0]

In [ ]:
arr1[0]

In [ ]:
arr2[0]

In [ ]:
arr2[0,3]

In [ ]:
arr3

In [ ]:
# Slicing
arr2

In [ ]:
arr2[0:2]

In [ ]:
arr2[1:2]

In [ ]:
arr2[0:2,0:2]

In [ ]:
arr3

In [ ]:
arr3[0:1]

In [ ]:
arr3[0,1]

In [ ]:
arr3[0,1,1]

In [ ]:
arr=np.linspace(1,5,10)
arr

In [ ]:
# np.repace
arr.reshape(10,1)
arr

In [ ]:
# Create a 7*9 matrix where all the elements are random
arr = np.random.rand(63).reshape(7,9)
arr

In [ ]:
arr2

In [ ]:
arr2d=np.array([1,2,3,4,5,6,7,8])
arr2d

In [ ]:
# arr2.extend (arr2d)
# arr2.append(arr2d)
a=np.append(arr2,arr2d)
a

# Mathematical Functions and Statistics

In [ ]:
import numpy as np
arr=np.array([[1,2,3,4,5],[6,7,8,9,10]])
arr1=np.array([[10,9,8,7,6],[5,4,3,2,1]])

In [ ]:
arr

In [ ]:
arr1



*   Addition -> Add two matrices or add an element to a matrix

In [ ]:
arr+arr1

In [ ]:
arr+20

In [ ]:
arr2=np.array([1,2])

In [ ]:
arr1+arr2
# Error

In [ ]:
arr3=np.array([1,2,3,4,5])
arr3

In [ ]:
arr1+arr3

In [ ]:
arr1

# Subtraction

In [ ]:
arr1

In [ ]:
arr2

In [ ]:
arr1-arr3

In [ ]:
arr1-100

# Division

In [ ]:
arr1 / arr3

In [ ]:
arr1/arr1

In [ ]:
arr1/4

# Exponential

In [ ]:
arr

In [ ]:
arr1

In [ ]:
arr ** arr1

In [ ]:
arr**2

# Multiplication

In [ ]:
arr1

In [ ]:
arr

In [ ]:
# Cross Product
arr * arr1

In [ ]:
# Dot product
arr
# 2 X 5

In [ ]:
arr1
# 2 X 5

In [ ]:
arr.dot(arr1)

In [ ]:
arr4=np.array([[1,2],[3,4],[5,6],[7,8],[9,10]])
arr4

In [ ]:
np.dot(arr,arr4)

In [ ]:
arr4.shape

In [ ]:
# np.matmul(arr,arr4)
np.matmul(arr,arr4)

# Determinant

In [ ]:
# Square matrix -> No of rows and No of columns should be same
detarray = np.array([[1,2],[3,4]])
detarray

In [ ]:
[a     (-)b       c]
[(-)d    e     (-)f]
[g     (-)h       i]

In [ ]:
# np.linalg .det(arr)
np.linalg.det(detarray)

In [ ]:
detarray = np.array([[1,2,3],[3,4,5],[4,8,1]])
detarray

In [ ]:
np.linalg.det(detarray)

# Inverse  of a matrix

In [ ]:
arrayinv = np.array([[1,2],[3,4]])
arrayinv

In [ ]:
# Inverse = 1/det(mat) * adj.mat
# adj.matrix = Transpose(co-factor of the matrix (a))

deter =np.linalg.det(arrayinv)
deter

In [ ]:
newdet = 1/deter
newdet

In [ ]:
# Inverse of matrix
np.linalg.inv(arrayinv)

In [ ]:
arrayinv

In [ ]:
# Transpose
np.transpose(arrayinv)

# Reciprocal

In [ ]:
arrecip=np.array([[1,2,3,4,5],[3,4,5,6,7]])
arrecip

In [ ]:
np.reciprocal(arrecip)

In [ ]:
arreci=np.array([[10.2,30.4],[3.4,5.7]])
arreci

In [ ]:
np.reciprocal(arreci)

# Statistics

In [ ]:
stastarr = np.array([[1,2,3,4,5],[3,4,5,6,7],[8,9,10,11,12]])
stastarr

* max

In [ ]:
np.max(stastarr)

In [ ]:
#axis = 0 -> columns
#axis =1 -> Row

In [ ]:
np.max(stastarr,axis=0)
# largest num in each column

In [ ]:
np.max(stastarr,axis=1)
# largest num in each row

* min

In [ ]:
np.min(stastarr)

In [ ]:
np.mean(stastarr)

* sum

In [ ]:
np.sum(stastarr)

In [ ]:
np.sum(stastarr,axis=0)

* median

In [ ]:
np.median(stastarr)

* argmax()

In [ ]:
stastarr

In [ ]:
np.argmax(stastarr)
# returns the index of max element

In [ ]:
np.argmax(stastarr,axis=0)

* around()

In [ ]:
arr=np.array([3.56,0.98])

In [ ]:
np.around(arr)

In [ ]:
arr=np.array([3.5,0.98])
np.around(arr,decimals=1)

* floor & ceil

In [ ]:
a= np.array([3.56,0.98])
np.floor(a)

In [ ]:
a= np.array([3.56,0.98])
np.ceil(a)

* Copy & View

In [ ]:
arr

In [ ]:
x = arr.copy()
x

In [ ]:
x[0]=10
x

In [ ]:
arr

In [ ]:
y = arr.view()
y

* Iteration

In [ ]:
for x in arr:
  print(x)

In [ ]:
for i in arr1:
  print(i)

# Stacking

In [ ]:
import numpy as np
arr1=np.array([[1,2,3],[4,5,6]])
arr2=np.array([[11,22,33],[44,55,66]])

In [ ]:
# Stacking -> joining two arrays
# their are two types of stacks
1. hstack() -> Horizontal
2. vstack() -> vertical

In [ ]:
arr1

In [ ]:
arr2

In [ ]:
np.vstack((arr1,arr2))

In [ ]:
np.vstack((arr1,arr2,arr1))

In [ ]:
np.hstack((arr1,arr2))

In [ ]:
arr3 = np.array([100,200,300])

In [ ]:
np.vstack((arr1,arr3))

In [ ]:
np.hstack((arr1,arr3))

In [ ]:
arr3

In [ ]:
arr4 = np.array([500,600,700])
arr4

In [ ]:
# dstack
np.dstack((arr3,arr4))

# Spliting

In [ ]:
arr3

In [ ]:
# array_split
br=np.array_split(arr3,3)
br

In [ ]:
br[0]

In [ ]:
# array_split
br=np.array_split(arr3,1)
br

In [ ]:
br

# Searching

In [ ]:
newd=np.array([1,2,3,4,5,6,4,8,4,10])
newd

In [ ]:
# Where
np.where(newd==4)

In [ ]:
np.where(newd%2==0)

# Sorting

In [ ]:
newarr=np.array([21,42,3123,4,535,46,7,843,9,10])
newarr

In [ ]:
# Ascending
np.sort(newarr)

In [ ]:
# Decending
np.sort(newarr)[::-1]

In [ ]:
-np.sort(-newarr)

* argsort()

In [ ]:
np.argsort(newarr)

In [ ]:
array

In [ ]:
array**2

In [ ]:
# sqrt
np.sqrt(array)

# Any & All

In [ ]:
newarr=np.array([1,2,3,4,5])
newarr

In [ ]:
np.any(newarr)

In [ ]:
np.all(newarr)

In [ ]:
np.any(newarr>3)

In [ ]:
np.all(newarr>3)

In [ ]:
np.all(newarr>1)

In [ ]:
np.any(newarr>1)

In [ ]:
a=np.arange(10)
a

In [ ]:
np.reshape(a,(2,5))

In [ ]:
np.reshape(a,(2,9))



*   resize()

In [ ]:
a

In [ ]:
a.resize(5,2)
a

In [ ]:
np.resize(a,(2,9))

# Delete

In [ ]:
# delete (arr, obj, axis) delete the based on the index
a=np.arange(10)
a

In [ ]:
np.delete(a,1)

In [ ]:
arr=np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

In [ ]:
np.delete(arr,1)

In [ ]:
delmat=np.array([[1,2,3],[4,5,6],[7,8,9]])
delmat

In [ ]:
np.delete(delmat,1,axis=0)

# LCM

In [ ]:
num1=10
num2=20

np.lcm(num1,num2)

In [ ]:
num1=10
num2=20
num3=30
num4=40

np.lcm((num1,num2,num3,num4))

In [ ]:
newarr

In [ ]:
a=np.lcm.reduce(newarr)
a

In [ ]:
np.lcm(newarr)

In [ ]:
num1=10
num2=20
num3=30
num4=40r

np.lcm.reduce((num1,num2,num3,num4))

# GCD

In [ ]:
a=10
b=20
np.gcd(a,b)

# Linear Equation

In [ ]:
# 3x + y =9
# x + 2y =8
a=np.array([[3,1],[1,2]])
b=np.array([9,8])
np.linalg.solve(a,b)
#np.linalg.solve(np.array([[3,1],[1,2]]),np.array([9,8]))

In [ ]:
# x^2 + 4x + 4 =0
coeff = np.array([1,4,4])

In [ ]:
# Roots()
np.roots(coeff)

# New Section

In [ ]:
a =np.array([[1,2,3],[4,5,6]])
b=np.array([[7,8,9],[10,11,12]])

In [ ]:
np.dot(a,b)

In [ ]:
 # print(1*7 + 2*8 +3*9 + 4*10 + 5*11 + 6*12)

np.vdot(a,b)

#  Regular Expression

In [ ]:
1. find
2. match
3. split
4. sub
5. search

In [ ]:
import re

In [ ]:
stri = "I was ocupied on sunday and after i've got free, I called my friend and his number was 11-23444532 "

In [ ]:
stri

In [ ]:
number = re.findall(r'\d',stri)
number
# d-> digit
# \d -> single digit

In [ ]:
number = re.findall(r'\d+',stri)
number

In [ ]:
number = re.findall(r'\d{3}',stri)

In [ ]:
number

In [ ]:
import re

# Example string
stri = "Sample text with numbers like 12-345 and 67-890."

# Extracting the pattern
number = re.findall(r'\d{2}-\d+', stri)

# Print the extracted numbers
print(number)

In [ ]:
stri = "On Monday , there will be chance of rainfall"

In [ ]:
stri

In [ ]:
strin =re.search('^On',stri)
if strin:
  print("Yes")
else:
  print("No")

# Match

In [ ]:
stri = "Dog is a pet animal"

In [ ]:
mat = re.match('D\w\w',stri)
if mat:
  print("Yes")
else:
  print("No")

In [ ]:
mat

In [ ]:
mat = re.match('D\w\w',stri)
mat.group()

In [ ]:
mat = re.match('D\w\w',stri)
mat.start()

# Split

In [ ]:
stri = "On Monday , there will be chance of rainfall"

In [ ]:
split = re.split(' ',stri)
split

In [ ]:
# \d -> Single digit
# \d+ -> multiple digit
# \w -> Single Character -> A-Z/a-z
# \s -> Spce

In [ ]:
spli=re.split("\s",stri)
spli

In [ ]:
a="Rahul is 45 male (+91)1234567890"

In [ ]:
a.split()

# sub - Replace

In [ ]:
stri ="Football i not a sport"

In [ ]:
rep =re.sub('i','I',stri)
rep

# Meta characters


*   [a,b] -> A set of character

In [ ]:
stri = "Munbai is the financial capital on India"

In [ ]:
asd = re.findall('[b-e]',stri)
asd

* ^ -> starts with

In [ ]:
asd = re.findall('^is',stri)
asd

* $ -> ends with

In [ ]:
asd =re.findall('India$',stri)
asd

# Pandas
* It's a Python Library that is usedd while you are working with the database
1. Analyze
2. Cleaning
3. Explore
4. Manipulation

# Why Pandas ?
1. It allowa us to analyze bid data
2. It is used to clean datasets and then make it readable and relevent

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

# Pandas Data Structure
1. Series  -> 1D[Column]
2. Dataframe  -> 2D[Row & Column]
3. Panel  -> 3D[Graphical representation is difficult]
* Pandas  DS are very fast because they are built on NumPy array.

In [ ]:
import numpy as np
a= np.array([1,2,3,4,5])
a

In [ ]:
a.shape

# Series
1. It is 1D array
2. [1,2,3,4,5,6,7] -> Data[column]

In [ ]:
SYNTAX -> pd.Series(data,index)

In [ ]:
import pandas as pd
data=[1,2,3,4,5]
pd.Series(a)

In [ ]:
import pandas as pd
a=np.array([1,2,3,4,5])
pd.Series(a)

In [ ]:
import pandas as pd
a=np.array([1,2,3,4,5])
b= pd.Series(a,index=['a','b','c','d','e'])
b

In [ ]:
a[0]
a[1]
a[2]

In [ ]:
import pandas as pd
a=np.array([1,2,3,4,5])
pd.Series(a,index=['a','b','c','d','e'],dtype=float)

In [ ]:
import pandas as pd
a=np.array([1,2,3,4,5])
pd.Series(a,index=['a','b','c','d','e'],dtype=float,name="Data")

# Boolean Masking

In [ ]:
0 -> False
1 -> True

In [ ]:
a

In [ ]:
a>3

In [ ]:
a[a>3]

In [ ]:
a[a>4]

Delete

In [ ]:
b

In [ ]:
b.drop('a')

In [ ]:
b

In [ ]:
b.drop('a',inplace=True)

In [ ]:
b

In [ ]:
import pandas as pd
a=np.array([1,2,3,4,5])
df =pd.Series(a,index=['a','b','c','d','e'],dtype=float)

In [ ]:
df.drop(['c','e'])

In [ ]:
df
# Dletetion above is not perminant to make that perminant we use Inplace

In [ ]:
df.drop(['c','e'],inplace=True)

In [ ]:
df+3

In [ ]:
np.sqrt(df)

In [ ]:
df.mean()

In [ ]:
df

In [ ]:
df['a']-1

# Dataframe
1. It is a 2D DS

In [ ]:
SYNTAX -> pd.DataFrame(data,index,columns)

In [ ]:
import pandas as pd
data=[1,2,3,4,5]
pd.DataFrame(data)

In [ ]:
import pandas as pd
import numpy as np
a=np.array([[1,2,3],[4,5,6]])
df=pd.DataFrame(a)
df

# CRUD

* C -> Create

1. Empty Dataframe

In [ ]:
df = pd.DataFrame()
df

2. List Dataframe

In [ ]:
a=[1,2,3,4,5]
df=pd.DataFrame(a)
df

In [ ]:
a=[["dog","cat"],["Tom","jerry"],["snake","pig"]]
df=pd.DataFrame(a)
df

In [ ]:
a=[["dog","bow"],["Tom","meom"],["snake","piss"]]
df=pd.DataFrame(a,columns=["animal","sound"])
df

3. Dic Dataframe

In [ ]:
data={"Name":["Ram","Rahul","Bhavana"],"Age":["20","21","22"]}
df=pd.DataFrame(data,index=["a","b","c"])
df

4. Series Dataframe

In [ ]:
data={"Karan_marks":pd.Series([50,55,22],index=["Test1","Test2","Test3"]),
      "Rahul_marks":pd.Series([50,55,22],index=["Test1","Test2","Test5"])}
df=pd.DataFrame(data)
df

5. List of dictionary Dataframe

In [ ]:
data =[{"A":1,{"B":2},{"C":3},{"D":4}]
df=pd.DataFrame(data)
df

In [ ]:
data =[{"A":1,"B":2},{"C":3,"D":4},{"E":5,"F":6}]
df=pd.DataFrame(data)
df

# Update

In [ ]:
data=[10,20,30,40,50]

df=pd.DataFrame(data)
df

In [ ]:
data=[10,20,30,40,50]
data1=[100,200,300,400,500]
df=pd.DataFrame([data,data1],columns=["A","B","C","D","E"],index=["a","b"])
df

1. Column Selection

In [ ]:
df['B']

In [ ]:
df['H']

In [ ]:
df['H']=[56,78]
df

In [ ]:
df['M']=pd.Series([1,2,3],index=["a","b","c"])
df

In [ ]:
df['N']=df['A']+df['B']
df

In [ ]:
df['z']=pd.Series([1,2,3],index=["a","b","c"])
df

In [ ]:
df['q']=34
df

In [ ]:
df['P']=pd.Series([72])
df

In [ ]:
df

In [ ]:
del df['z']

In [ ]:
df

In [ ]:
# Pop function

df.pop('P')

In [ ]:
df[['C']]

In [ ]:
df[['E','C']]

In [ ]:
df

In [ ]:
df.pop("D")

In [ ]:
# Drop
df.drop(['D','E'], axis=1)

In [ ]:
df.drop(['C','E'], axis=1,inplace=True)

In [ ]:
df

In [ ]:
df.pop('A')

In [ ]:
df

In [ ]:
df

In [ ]:
import pandas as pd

# Existing data
data = [10, 20, 30, 40, 50]
data1 = [100, 200, 300, 400, 500]
df = pd.DataFrame([data, data1], columns=["A", "B", "C", "D", "E"], index=["a", "b"])

# New data
df1 = pd.DataFrame([{"A": 1, "B": 2, "C": 3}])

# Concatenate them
df_combined = pd.concat([df, df1])

print(df_combined)

In [ ]:
df

In [ ]:
import pandas as pd
data = [{'Name': 'John', 'Age': 25}, {'Name': 'Jane', 'Age': 30}]
df = pd.DataFrame(data)
df

In [ ]:
import pandas as pd
data = {"Apples":[102,500,250,75],"Bananas":[50,150,90,45]}
df = pd.DataFrame(data)
df

In [ ]:
df['Apples'] # Series

In [ ]:
df[['Apples']] # Dataframe

In [ ]:
df["Bananas"]=df['Apples']+50
df

In [ ]:
df.drop('Bananas',axis=1)

In [ ]:
df

In [ ]:
df.drop('Bananas',axis=1,inplace=True)

In [ ]:
df

In [ ]:
# Row
df["Pear"]=df['Apples']+67
df["Mangoes"]=df['Apples']+100
df["Jackfriut"]=df['Apples']+150
df["Oranges"]=df['Apples']+50
df["Cherry"]=df['Apples']+57
df["Strawbeerry"]=df['Apples']+34
df["Bananas"]=df['Apples']+200

In [ ]:
df

# Row CRUD

* Row Selection

In [ ]:
# loc & iloc

In [ ]:
df

In [ ]:
df.loc[0]

In [ ]:
# Loc works with the index_name
df.loc[[0]]

In [ ]:
# iloc -> Index
df.iloc[[3]]

In [ ]:
import pandas as pd
data = {"Apples":[102,500,250,75],"Bananas":[50,150,90,45]}
asf = pd.DataFrame(data,index=["a","b","c","d"])
asf

In [ ]:
asf.loc['a']

In [ ]:
asf.iloc[0]

In [ ]:
asf.iloc['d']

In [ ]:
df.iloc[[-1]]

In [ ]:
df

* Row Addition

In [ ]:
student_marks={"Name":["Rahul","Rohit","venkat","Sahil","Ankith"],
               "OS":[25,75.5,96,0,100],
               "DBMS":[20,80,60,50,99]}
df=pd.DataFrame(student_marks)
df

In [ ]:
# First Method
data2 = {"Name":"Robby","OS":60.5,"DBMS":55.5}
asf=pd.concat([df,pd.DataFrame([data2])])
asf

In [ ]:
data2 = {"Name":"Robby","OS":60.5,"DBMS":55.5}
asf=pd.concat([df,pd.DataFrame([data2])],ignore_index=True)
asf

In [ ]:
asf.loc[5]

In [ ]:
asf .loc[5]=["Steve",67,78]
asf

In [ ]:
asf .iloc[5]=["prasad",45,78]
asf

* Row Deletion

In [ ]:
asf.drop(0,inplace=True)

In [ ]:
asf

# Features of pandas
*  Data Exploration
*  Data Cleaning
*  Data Manipulations
*  Data Analysis

# Data Exploration

In [ ]:
asf # Population -> Superset of all the sample

* head()

In [ ]:
asf.head() # Sample -> Subset of Population

In [ ]:
asf.head(2)

* tail()

In [ ]:
asf.tail()

* dtypes

In [ ]:
asf.dtypes

* empty

In [ ]:
asf.empty

* shape

In [ ]:
asf.shape

* ndim

In [ ]:
asf.ndim

* size

In [ ]:
asf.size

* Values

In [ ]:
asf.values

In [ ]:
asf.keys()

* describe

In [ ]:
asf.describe()

* T

In [ ]:
asf.T # Transpose

In [ ]:
asf.iloc[1]

* sum()

In [ ]:
asf.sum()

* mean()

In [ ]:
asf

In [ ]:
asf.mean()

In [ ]:
asf.median()

In [ ]:
df

In [ ]:
df.min()

In [ ]:
df.max()

# Data Cleaning and Data Manupilation

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data1  =np.random.randn(10,3)
data2 =np.random.randn(7,3)

In [ ]:
df1 = pd.DataFrame(data1,columns=["A","B","C"])
df2 = pd.DataFrame(data2,columns=["A","B","C"])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3 = pd.concat([df1,df2],ignore_index=True)

In [ ]:
df3

In [ ]:
for i in df3.C:
    print(i)

* Iteritems

In [ ]:
# For Columns
for key, value in df3.items():
    print(key, value)

In [ ]:
# For Rows
for i ,j in df3.iterrows():
    print(i,j)

* sorting

In [ ]:
df3

In [ ]:
unsorted_df=pd.DataFrame(np.random.randn(10,3),index=[5,6,2,8,9,0,3,1,8,7],columns=["A","B","C"])
unsorted_df

In [ ]:
# sort_index
unsorted_df.sort_index()

In [ ]:
unsorted_df.sort_index(ascending=False)

In [ ]:
unsorted_df.sort_index(axis=1)

In [ ]:
unsorted_df.sort_index(axis=1,ascending=False)

* sort_values

In [ ]:
df=pd.DataFrame({"Apple":[102,500,250,75],"Bananas":[50,150,90,45]})
df

In [ ]:
df.sort_values("Apple")

In [ ]:
df.sort_values("Apple",ascending=False)

In [ ]:
df.sort_values(by=["Apple","Bananas"])

* Sorting can be done in 3 ways
1. Quicksort
2. Mergesort
3. Heapsort

In [ ]:

df.sort_values(by=["Apple","Bananas"],kind="mergesort")

*Stats - Advanced

In [ ]:
df3

In [ ]:
df4=df3.drop([8,9,10,11,12,13,14,15,16])

In [ ]:
df4

* Covariance -> cov()

In [ ]:
df4.A

In [ ]:
df4['A']

In [ ]:
df4[['A']]

In [ ]:
df4.B.cov(df4.C)

In [ ]:
df4.cov()

* Correlation

In [ ]:
df4['A'].corr(df4.B)

In [ ]:
df4.corr()

In [ ]:
df =pd.DataFrame(np.random.randn(5,3),index=["A","C","E","B","D"],columns=["col1","col2","col3"])

In [ ]:
df

In [ ]:
df=df.reindex(["A","B","C","D","E"])

In [ ]:
df

In [ ]:
df =df.reindex(["A","B","C","T","D","E","F","G"])
df

# is null()

In [ ]:
df.isnull()

# isna()

In [ ]:
df.isna()

# notnull()

In [ ]:
df.notnull()

In [ ]:
df.isnull().sum() # total no number of null values

In [ ]:
df.notnull().sum()

In [ ]:
df["col1"].isnull()

# fillna()

In [ ]:
df.fillna(0)

In [ ]:
df.fillna(df.mean())

In [ ]:
# Forward Method - pad/ffill
# Backward Methodm - bfill/backfill

In [ ]:
df

In [ ]:
df.fillna(method="ffill") # or "pad"
# df.fillna(method ="pad")

In [ ]:
df.fillna(method="bfill")

In [ ]:
df

# dropna()

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(axis=0)

In [ ]:
# Replacing the values

student_marks={"Name":["Rahul","Rohit","venkat","Sahil","Ankith"],
               "OS":[25,75.5,96,0,100],
               "DBMS":[20,80,60,50,99]}
ass=pd.DataFrame(student_marks)
ass

In [ ]:
ass.replace({20:200})

In [ ]:
ass.OS.loc[0] = 299
ass

# Handle Diplicates Values

In [ ]:
df

In [ ]:
df.duplicated()
# True indicates that hat values are dulicate

In [ ]:
df.duplicated().sum()

# Remove duplicate

In [ ]:
df.drop_duplicates()

# Import/ Export Dataset

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df

# Matplotlib

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
x= np.array([0,1,2,3,4,5])
y=np.array([0,10,20,30,40,50])

In [ ]:
x,y

In [ ]:
plt.plot(x,y)

In [ ]:
x= np.array([0,17,20,39,4,6])
y=np.array([9,10,20,30,40.7,50])
plt.plot(x,y,'d--g')
plt.show()

In [ ]:
# Reference of Marker
o -> Circle Marker
v -> Triangle Down Marker
^ -> Triangle Up Marker
s -> Square Marker
p -> Pentagon Marker
* -> Star Marker

In [ ]:
# Reference of lines
- -> Solid Line
: -> Dotted Line
-- -> Dashed Line
-. -> Dash Dot Line

In [ ]:
Syntax : Marker|line|color

In [ ]:
#Refernce of colours
r --> Red
g --> Green
b --> Blue
c --> Cyan
m --> Magenta
y --> Yellow
k --> Black
w --> White

In [ ]:
x= np.array([0,17,20,39,4,6])
y=np.array([9,10,20,30,40.7,50])
plt.plot(x,y,'o-.c')
plt.show()

In [ ]:
plt.plot(x,y,marker="*",ms =40,mec="r",mfc='y')
plt.show()
# ms : Marker size
# mec : Maker edges colour
# mfc : Marker face colour

* Linestyle

In [ ]:
plt.plot(x,y,linestyle = "--",color="r")
plt.show()
#plt.plot(x,y,linestyle = "dotted")

plt.show()

In [ ]:
plt.plot(x,y,linestyle = "--",color="r",linewidth="12")

In [ ]:
plt.plot(x)

In [ ]:
plt.plot(y)

In [ ]:
plt.plot(x)
plt.plot(y)
plt.show()

In [ ]:
x=[3,8,1,10]
y=[6,2,7,11]

* Labels

In [ ]:
plt.plot(y)
plt.plot(x)
plt.xlabel("X-Axis")
plt.ylabel("Y-Axis")
plt.show()

* Title

In [ ]:
plt.plot(y)
plt.plot(x)

modification = {"color":"r","size": 15,"family":"serif"}

plt.xlabel("Height",fontdict=modification)
plt.ylabel("Weight",fontdict=modification)

plt.title("Height vs Weight",fontdict=modification,loc="right")
# loc is the location of the title


plt.show()

 * Grid

In [ ]:
plt.plot(y)
plt.plot(x)


plt.xlabel("Height")
plt.ylabel("Weight")
plt.title("Height vs Weight")

plt.grid()


plt.show()

In [ ]:
plt.plot(y)
plt.plot(x)


plt.xlabel("Height")
plt.ylabel("Weight")
plt.title("Height vs Weight")

plt.grid(axis= "x")


plt.show()

In [ ]:
plt.plot(y)
plt.plot(x)


plt.xlabel("Height")
plt.ylabel("Weight")
plt.title("Height vs Weight")

plt.grid(color="black", ls="--",linewidth=2)


plt.show()

# Subplots

In [ ]:
# 1st plot]
x= [1,2,3,4,5,6]
y= [10,20,30,40,50,60]

# plt.subplot(row,column,plot_number)
plt.subplot(2,3,1)
plt.plot(x,y)



# 2nd plot
x=[3,8,1,10]
y=[6,2,7,11]
plt.subplot(2,3,2)
plt.plot(x,y)


# 3rd plot]
x= [1,2,3,4,5,6]
y= [10,20,30,40,50,60]
plt.subplot(2,3,3)
plt.plot(x,y)



# 4thd plot
x=[3,8,1,10]
y=[6,2,7,11]
plt.subplot(2,3,4)
plt.plot(x,y)


# 5th plot]
x= [1,2,3,4,5,6]
y= [10,20,30,40,50,60]
plt.subplot(2,3,5)
plt.plot(x,y)



# 6th plot
x=[3,8,1,10]
y=[6,2,7,11]
plt.subplot(2,3,6)
plt.plot(x,y)



plt.suptitle("My Plot")
plt.show()

In [ ]:
fig=plt.figure()
ax1=fig.add_axes([1,1,2,2])


ax1.plot(x,y)
ax1.set_xlabel("X-Axis")
ax1.set_ylabel("Y-Axis")
ax1.set_title("My Plot")

# ax1.set_xticks([1,2,3,4,5]) # strech the plot
ax1.set_xticklabels([1,2,3,4,5,6,7]) # override the original ticks {inpace of them }

plt.show()

# Scatter Plot

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

x=[3,8,1,10,34,56,12,78,23,45,11,89,34]
y=[6,2,7,11,34,1,55,77,22,11,33,44,56]
plt.scatter(x,y)
plt.show()

In [ ]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df.head()

In [ ]:
plt.scatter(df.Age,df.Survived)
plt.show()

1. \  -> Negative Correlation
2. /  -> Positive Correlation
3. ---  -> No Correlation

In [ ]:
plt.scatter(df.Age,df.Survived,color = "red")
plt.xlabel("Age")
plt.show()

# Bar Plot

In [ ]:
x=["A","B","C","D"]
y=[10,20,30,40]
plt.bar(x,y,color="black")
plt.show()

# Histogram

In [ ]:
x=np.random.normal(170,10,250)

plt.hist(x)
plt.show()

# Pie Chart

In [ ]:
x=[10,20,30,40]
y=["Blackcurrent","vanila","Strawberry","Chocolate"]
plt.pie(x,labels=y)
plt.show()

In [ ]:
x=[10,20,30,40]
y=["Blackcurrent","vanila","Strawberry","Chocolate"]
plt.pie(x,labels=y,explode=[0.2,0,0,0.1],shadow=True)
plt.show()