<a href="https://colab.research.google.com/github/Satyasai000111/Saiteja-FMML-LABS/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

**What is Pandas?**
* Pandas is a Python library used for working with data sets.
It has functions for analyzing, cleaning, exploring, and manipulating data

**Why Use Pandas?**
* Pandas allows us to analyze big data and make conclusions based on statistical theories.
* Pandas can clean messy data sets, and make them readable and relevant.
* Relevant data is very important in data science

**What Can Pandas Do?**
* Pandas gives you answers about the data. Like:
* Is there a correlation between two or more columns?

**What is a Series?**
* A Pandas Series is like a column in a table.
* It is a one-dimensional array holding data of any type

In [1]:
a = [1,3,5,7,9,11,13,15,17,19]
var = pd.Series(a)
var

NameError: name 'pd' is not defined

**Labels**
* If nothing else is specified, the values are labeled with their index number. First value has index 0, second
value has index 1 etc.
* This label can be used to access a specified value.

In [2]:
var[7]

NameError: name 'var' is not defined

In [ ]:
b = [15,25,35,45]
var1 = pd.Series(b,index=['A','B','C','D'])
var1

In [ ]:
calories = {"day1":25,"day2":56,"day3":89}
myvar = pd.Series(calories)
myvar

In [ ]:
myvar['day2']


**What is a DataFrame?**
* A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and
columns.

In [ ]:
data = {
 "calories" : [45,85,67],
 "duration" : [25,65,15]
}
df = pd.DataFrame(data,index=["Day1","Day2","Day3"])
print(df)


Locate Row --

In [ ]:
print(df.loc['Day1'])

**Read CSV Files**
* A simple way to store big data sets is to use CSV files (comma separated files).
* CSV files contains plain text and is a well know format that can be read by everyone including Pandas.

In [ ]:
import pandas as pd
df = pd.read_csv("/test.csv")
df

In [ ]:
df.head(10)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
s=df.mean()
print(s)

Here, we had used the isnull() method to check whether the value is null or not. If it is null it returns True else returns False.And also used notnull() method to check if the value is null it returns else False returns True.

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
new_df = df.dropna()
new_df

In [ ]:
df.fillna(s)
df